%h1.gray House Voting

= render partial: 'shared/progress', locals: { progress: @progress, existing_vote_count: @existing_house_votes.count, total_vote_count: @house_ids.count }

- if @entry
  = render partial: 'shared/entry_voting_display', locals: { up_vote_path: house_up_vote_path(@entry.id), down_vote_path: house_down_vote_path(@entry.id), entry: @entry }
- else
  .alert.alert-primary{:role => "alert"}
    = "You've voted on all the houses, now #{link_to('check out the costumes', root_path)}!".html_safe
