%h1.gray Costume Voting

= render partial: 'shared/progress', locals: { progress: @progress, existing_vote_count: @existing_costume_votes.count, total_vote_count: @costume_ids.count }

- if @entry
  = render partial: 'shared/entry_voting_display', locals: { up_vote_path: costume_up_vote_path(@entry.id), down_vote_path: costume_down_vote_path(@entry.id), entry: @entry }
- else
  .alert.alert-primary{:role => "alert"}
    = "You've voted on all the costumes, now #{link_to('check out the houses', houses_path)}!".html_safe
