%h1.gray.title Costumes

= render partial: 'shared/progress', locals: { progress: @progress, existing_vote_count: @existing_costume_votes.count, total_vote_count: @costume_ids.count }

- if @entry
  = render partial: 'shared/entry_voting_display', locals: { up_vote_path: costume_up_vote_path(@entry.id), down_vote_path: costume_down_vote_path(@entry.id), entry: @entry }
- elsif @voting_complete
  .alert.alert-orange{:role => "alert"}
    You've finished voting, so go have some fun at the party! Results will be announced at 10:30PM in the Fest Hall.
- else
  .alert.alert-dark{:role => "alert"}
    = "You've voted on all the costumes, now #{link_to('check out the houses', houses_path, class: 'alert-link')}!".html_safe
