- if FeatureFlag.voting.enabled?
  = link_to 'Start Voting!', houses_path, class: 'btn btn-orange btn-block mb-3'

%h1.title Costume Contest Rules
%h2.title.mt-3 Timeline

%h3.title 6 p.m. – 7:30 p.m.
%p.gray Contestants enter by being photographed in the Meeting Haus

%h3.title 8 p.m. – 10 p.m.
%p Voting on the website
%h3.title 10:15 p.m.
%p Winners announced


%h2.title Rules
%strong Entering the contest
%p In order to enter the contest, you must have your picture taken by monster bash staff after having received your wrist band. Contestants must stop by the Meeting Haus on Saturday, October 14, between the hours of 6 p.m. and 7:30 p.m. to be photographed. Those who show up too late cannot enter the contest.
%strong Voting
%p Voting will take place through the GV Monster Bash website. Voting will be open from 8 p.m. to 10 p.m..
%strong Announcing the winners
%p At 10:15 p.m. winners will be announced in the Fest Hall. If you are not present during the announcement you forfeit your prize
%strong Costume Guidelines
%p No inappropriate costumes (racist, sexist, homophobic, too revealing, etc.) This is up to the judge’s discretion.
%p No realistic looking weapons
%p No messy costume attire that cannot be easily cleaned up or will cause damage to the facilities.

