/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
$body-bg: #5a5d61;

@import "bootstrap";
@import "font-awesome";

.invisible { display: none; }
.bg-orange { background: $orange; }
.btn-orange {
  color: #fff;
  background-color: $orange;
  border-color: $orange;
}

.alert-orange {
  color: #9a4702;
  background-color: #ffc798;
  border-color: #ff963d;
}
.gray { color: #eee !important; }
.progress {
  background-color: #a2a2a2;
}

.navbar-brand {
  font-family: 'Cinzel', bold;
}

h1 {
  font-size: 2.8rem;
  margin-bottom: 1rem;
  font-family: 'Cinzel', bold;
}
h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
  font-family: 'Cinzel', bold;
}
h3 {
  font-size: 1.3rem;
  margin-bottom: 0.6rem;
  font-family: 'Cinzel', bold;
}
p {
  line-height: 1.6rem;
  margin-bottom: 2rem;
}

* {
  font-family: 'Open Sans', sans-serif;
  color: #eee;
}
.nav-link-icon { color: #868e96; }
